{% extends "basefile.html" %}



{% block xyz%}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div style ="      height: 800px;width: 800px;"class="carousel-inner">
    <div  class="carousel-item active">
      <img  src="https://static.srpcdigital.com/styles/1037xauto/public/2024-07/710161.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src=" https://miro.medium.com/v2/resize:fit:1400/format:webp/1*TfJUGK4Q_tLgRemCaV_YWw.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/cb/33/49/cb3349b86ca661ca61ae9a36d88d70d4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





{% endblock xyz %}