{% extends "basefile.html" %}

#https://codepen.io/geekstrick/pen/ybmMXE

{% block xyz%}

<div ><table class="table">
	#{{hi}}

	
	<thead>
	  <tr>
		<th scope="col">#</th>
		<th scope="col">Fullname</th>
		<th scope="col">email</th>
    <th scope="col">phone</th>
		<th scope="col">message</th>
		<th scope="col">action</th>
	  </tr>
	</thead>
	<tbody>

		{% for u  in hi %} 
	  <tr>
		<th scope="row">{{u.id}}</th>
		<td>{{u.fname}}</td>
		<td>{{u.email}}</td>
    <td>{{u.phn}}</td>
		<td>{{u.msg}}</td>
		<td>
		<div>
			<a href="/cartoon/delte-record/{{u.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
			<a href="/cartoon/update-record/{{u.id}}"><button type="button" class="btn btn-success">Update</button></a>
		</div>
	</td>
	  </tr>
	  {% endfor %}
	  
	</tbody>
  </table>
</div>
{% endblock xyz %}